.homepage_about{
  display:flex;
  justify-content: center;
  padding : 2%;
}



.homepage_about_image,
.homepage_about_content
{
  flex:1;  
}


.homepage_about_image{
  display: flex;
  justify-content: flex-end;
}
.homepage_about_logo{
  width: 60%;
  height: 100%;

}

.homepage_about_logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.homepage__about__text{
  display: flex;
  width: 70%;
  justify-content: left;
  flex-wrap: wrap;
  align-content: center;
  text-align: justify;
  /*Haut Right BOTTOM Left */
  padding : 0 5% 0 5%;
}
.btn_homepage__about{
  display: flex;
  justify-content: center;
  width: 100%;

}

